<!DOCTYPE html>
<html lang="en">

<head>
    <link href="CSS/styling.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>My Plant Bud</title>
</head>

<body>

    <div class='titleBackground'>
        <h1 class="title">My Plant Bud</h1>
    </div>

    <div class="row">
        <div class="column">
            <div class="Welcome">
                <div class="WelcomeText"> Welcome to My Plant Bud!</div>
                <p>
                    This site is for you to
                    decide which house plant would be best for you and your home. </br>
                    Take the quiz to the right to see which house plant would be the happiest in your home, or just
                    look at all plants we have available to see which plant is right for you!
                </p>
            </div>
        </div>
        <div class="column">
            <img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />

            <a class="shiftRight takeQuizButton" href="/quiz %>">Take Quiz</a>

            <img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />
        </div>
    </div>
    </div>

    <div class="plantOptions">
        <div class="WelcomeText">Possible Buds!</div>
        </br>
        Click on a plant to learn about them!
        </br>

        <%    plants.forEach((plant) => { %>
        <tr>
            <a href="/plant/<%= plant.id %>"><img src="<%- plant.Picture %>" width="300" /></a>
        </tr>
        <% }) %>
        <p></p>
    </div>
</body>


<div class="AboutMe">
    <a href="https://github.com/klosinm">Made by: Monica Klosin </a>
    </br>
    <a href="https://github.com/klosins">Photos and Data Provided by: Sylvia Klosin </a>
    </br>
    </br>
    Last Updated: August 2020
</div>

</html>