

<html>


<body>

    

    <h1>Plants</h1>
    <table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Water Needed</th>
        <th>Amount of Sunlight</th>
        <th>Picture</th>
    </tr>


<%    plants.forEach((plant) => { %>
    
<tr>    
    <td> <%- plant.Title %> </td> 
    <td> <%- plant.Description %></td>
    <td> <%- plant.Sunlight %></td>
    <td> <img src="<%- plant.Picture %>" width="300" /></td>
</tr>
<% }) %>

</table>

</body>
</html>
