<html>


<head>
    <style>
        .title {
            text-align: Left;
            padding-left: 15px;
            margin: 2px;
            padding-top: 18px;
            padding: 15px;
            font-weight: bolder;
            font-family: Optima;
            font-size: 50px;
            /*color: rgb(128, 0, 128);*/
            color: rgb(128, 44, 29);

        }

        /*aqua background for header*/
        .titleBackground {
            padding-left: 0px;
            padding-top: 0px;
            margin-bottom: 40px;
            margin-left: 15px;
            margin-right: 15px;
            height: 100px;

            background-color: rgb(191, 211, 223);
            width: 650px;

            border-radius: 15px;
            border: 2px solid rgb(9, 44, 119);
        }



        .actions {
            margin-left: 11px;
        }

        h2 {
            font-size: 45px;
            display: inline;
        }

        body {
            background-color: rgb(194, 128, 115);
        }

        .QuizBorder {
            width: auto;
            height: auto;
            margin-right: 150px;
            margin-left: 15px;

            margin-bottom: 15px;
            background-color: rgb(191, 211, 223);
            overflow: auto;
            border: 5px solid blanchedalmond;
            border-radius: 15px;
            padding-left: 10px;

        }

        option {
            background-color: #82ff8c;
        }

        .WelcomeText {
            padding: 5px;
            font-size: 20px;
            font-family: Optima;
            color: rgb(9, 44, 119);

        }


        .NavOptions {
            font-family: Optima;

            margin-left: 15px;
            padding: 3px;
            margin-bottom: 10px;

            font-size: 15px;
            color: rgb(9, 44, 119);
            background-color: rgb(191, 211, 223);
            border: 5px solid rgb(9, 44, 119);
            border-radius: 10px;
        }

        input {
            font-family: Optima;

            margin-left: 3px;
            margin-bottom: 15px;

            font-size: 15px;
            padding: 3px;
            color: rgb(9, 44, 119);
            background-color: rgb(191, 211, 223);
            border: 5px solid rgb(9, 44, 119);

            border-radius: 10px;



        }


        p {
            color: rgb(9, 44, 119);
        }

        @media only screen and (max-width: 1000px) {


            select {
                font-size: 20px;
                color: rgb(128, 44, 29);
            }

        }


        /*cute image at bottom to be centered*/
        .shiftRight {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            font-size: 15px;

        }
    </style>
</head>

<form action="\quizResult" accept-charset="UTF-8" method="post">

    <div class='titleBackground'>
        <h1 class="title">My Plant Bud - Quiz</h1>
    </div>



    <div class="QuizBorder">
        <div class="WelcomeText">Fill this out to the best of your abilites to see which plant would be happiest with
            you!</div>

        <tr>
            <p> 1. Amount of sunlight at home?</p>
            <select name=quiz[sunlight] id="sunlight">
                <option value="null1">Select</option>
                <option value="sunny">Sunny </option>
                <option value="semi_sunny">semi sunny</option>
                <option value="shady">shady</option>
            </select>

            <p> 2. How often would you like to water your plant?</p>
            <select name=quiz[water] id="water">
                <option value="null2">Select</option>
                <option value="one">Once a week </option>
                <option value="two">Once every two weeks</option>
                <option value="four">Once a month</option>

            </select>

            <p> 3. Do you want your plant to live on the floor, shelf, or hang?</p>
            <select name=quiz[plantplacement] id="plantplacement">
                <option value="null3">Select</option>
                <option value="floor">Floor</option>
                <option value="shelf">Shelf</option>
                <option value="wall">Hang</option>
                <option value="anywhere">Anywhere!</option>
            </select>

            <p> 4. Do you prefer pretty flowers or pretty leaves?</p>
            <select name=quiz[TypeofPlant] id="TypeofPlant">
                <option value="null4">Select</option>
                <option value="flowers">Flowers</option>
                <option value="leaves">Leaves</option>
            </select>

            <p> 5. Do you prefer plants that are one color or many colors?</p>
            <select name=quiz[colors] id="colors">
                <option value="null5">Select</option>
                <option value="one">One Color</option>
                <option value="many">One or more Colors</option>
            </select>

            <p></p>
        </tr>



    </div>

    <script type="text/javascript">


        function empty() {

            message = "";
            message.length = 0;
            correct = 1;


            //Sunlight
            selectElement1 = document.querySelector('#sunlight');
            output1 = selectElement1.options[selectElement1.selectedIndex].value;
            if (output1.includes("null1")) {
                message += "- Enter valid Sunlight amount! (question 1)\n";
                // alert("Whoops! You forgot something:\n" + message);
            }

            //Water
            selectElement2 = document.querySelector('#water');
            output2 = selectElement2.options[selectElement2.selectedIndex].value;
            if (output2.includes("null2")) {
                message += "- Enter valid times you will water! (question 2)\n";
            }

            //plantplacement
            selectElement3 = document.querySelector('#plantplacement');
            output3 = selectElement3.options[selectElement3.selectedIndex].value;
            if (output3.includes("null3")) {
                message += "- Enter how you will like your plant placed! (question 3)\n";
            }

            //TypeofPlant
            selectElement4 = document.querySelector('#TypeofPlant');
            output4 = selectElement4.options[selectElement4.selectedIndex].value;
            if (output4.includes("null4")) {
                message += "- Do you want pretty flowers or pretty leaves? (question 4)\n";

            }

            //colors
            selectElement5 = document.querySelector('#colors');
            output5 = selectElement5.options[selectElement5.selectedIndex].value;
            if (output5.includes("null5")) {
                message += "- How many colors? (question 5)\n";

            }

            if (message.length > 0) {
                alert("Whoops! You forgot something:\n" + message);
                return false;
                correct = 0;
            }
            else {


            }

        }

    </script>

    </br>

    <input type="submit" name="commit" value="Submit" onclick="return empty()" />




    <a class="NavOptions" href="/MyPlantBud">Back to Menu </a>

</form>




<img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />


</html>