<html>

<head>
    <link href="CSS/styling.css" rel="stylesheet" type="text/css" />
</head>


<form action="\quizResult" accept-charset="UTF-8" method="post">

    <div class='titleBackground'>
        <h1 class="title">My Plant Buddd - Quiz</h1>
    </div>



    <div class="QuizBorder">
        <div class="WelcomeText">Fill this out to the best of your abilites to see which plant would be happiest with
            you!</div>

        <tr>
            <p> 1. Amount of sunlight at home?</p>
            <select name=quiz[sunlight] id="sunlight">
                <option value="null1">Select</option>
                <option value="sunny">sunny </option>
                <option value="semi_sunny">semi sunny</option>
                <option value="shady">shady</option>
            </select>

            <p> 2. How often would you like to water your plant?</p>
            <select name=quiz[water] id="water">
                <option value="null2">Select</option>
                <option value="one">once a week </option>
                <option value="two">once every two weeks</option>
                <option value="four">once a month</option>

            </select>

            <p> 3. Do you want your plant to live on the floor, shelf, or hang?</p>
            <select name=quiz[plantplacement] id="plantplacement">
                <option value="null3">Select</option>
                <option value="floor">floor</option>
                <option value="shelf">shelf</option>
                <option value="wall">hang</option>
                <option value="anywhere">anywhere!</option>
            </select>

            <p> 4. Do you prefer pretty flowers or pretty leaves?</p>
            <select name=quiz[TypeofPlant] id="TypeofPlant">
                <option value="null4">Select</option>
                <option value="flowers">flowers</option>
                <option value="leaves">leaves</option>
            </select>

            <p> 5. Do you prefer plants that are one color or many colors?</p>
            <select name=quiz[colors] id="colors">
                <option value="null5">Select</option>
                <option value="one">one color</option>
                <option value="many">one or more colors</option>
            </select>

            <p></p>
        </tr>



    </div>

    <script type="text/javascript">


        function empty() {

            message = "";
            message.length = 0;
            correct = 1;


            //Sunlight
            selectElement1 = document.querySelector('#sunlight');
            output1 = selectElement1.options[selectElement1.selectedIndex].value;
            if (output1.includes("null1")) {
                message += "- Enter valid Sunlight amount! (question 1)\n";
                // alert("Whoops! You forgot something:\n" + message);
            }

            //Water
            selectElement2 = document.querySelector('#water');
            output2 = selectElement2.options[selectElement2.selectedIndex].value;
            if (output2.includes("null2")) {
                message += "- Enter valid times you will water! (question 2)\n";
            }

            //plantplacement
            selectElement3 = document.querySelector('#plantplacement');
            output3 = selectElement3.options[selectElement3.selectedIndex].value;
            if (output3.includes("null3")) {
                message += "- Enter how you will like your plant placed! (question 3)\n";
            }

            //TypeofPlant
            selectElement4 = document.querySelector('#TypeofPlant');
            output4 = selectElement4.options[selectElement4.selectedIndex].value;
            if (output4.includes("null4")) {
                message += "- Do you want pretty flowers or pretty leaves? (question 4)\n";

            }

            //colors
            selectElement5 = document.querySelector('#colors');
            output5 = selectElement5.options[selectElement5.selectedIndex].value;
            if (output5.includes("null5")) {
                message += "- How many colors? (question 5)\n";

            }

            if (message.length > 0) {
                alert("Whoops! You forgot something:\n" + message);
                return false;
                correct = 0;
            }
            else {


            }

        }

    </script>

    </br>

    <div class="quizButtons">
        <input type="submit" name="commit" value="Submit" onclick="return empty()" />




        <a class="NavOptions" href="/MyPlantBud">Back to Menu </a>

    </div>

</form>




<img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />


<div class="AboutMe">
    <a href="https://github.com/klosinm">Made by: Monica Klosin </a>
    </br>
    <a href="https://github.com/klosins">Photos and Data Provided by: Sylvia Klosin </a>
    </br>
    </br>
    Last Updated: August 2020
</div>


</html>